aside {
    width: max(28rem, 28vw);
    padding: 2.4rem 1.6rem;

    transition: ease .4s;
}

aside button {
    width: 100%;
    padding: .6rem;
    margin-bottom: 2.4rem;

    font-size: 2.4rem;
    color: var(--text-hi);
    cursor: pointer;

    border: 1px solid var(--border);
    border-radius: 1.2rem;
    transition: ease .4s;
}

aside button:hover {
    background-color: var(--bg-surface);
}

aside nav .brandTitle {
    font-size: 2rem;

    margin-bottom: 2.4rem;
}

aside nav ul li a {
    display: flex;
    align-items: center;
    gap: .8rem;


    border: 1px solid var(--border);
    border-radius: 12px;
    padding: .8rem;

    margin-bottom: 1.6rem;
    transition: ease .2s;
}

aside ul li #a,
a:hover {
    background-color: var(--bg-surface);
    color: var(--text-hi);
}

.asideClosed {
    width: 8rem;

    button {
        padding: .4rem;
    }

    .brandTitle {
        display: none;
    }

    nav a {
        display: block;
        text-align: center;
    }

    span {
        display: none;
    }
}