*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* #Typography */
    font-size: 62.5%;

    --font-family-brand: "Josefin Sans", sans-serif;
    --font-family-body: "Inter", sans-serif;

    /* #Colors */
    --bg-primary: #E5E9F8;
    --bg-secondary: #141416;
    --bg-card: hsla(183, 59%, 86%, 0.5);

    --text-brand: #12B2C1;

    --text-title: #014950;
    --text-light: #F6F6F6;
    --text-dark: #0E0E10;

    --toggle-open: #D94A4A;
}

body {
    background-color: var(--bg-primary);
    font-family: var(--font-family-body);
    color: var(--text-dark);
    font-size: 1.6rem;
    line-height: 1.55;

    transition: ease .4s;
}

.brand {
    color: var(--text-brand);
}

a {
    font-size: 1.6rem;
    font-weight: 500;

    letter-spacing: 0.03rem;
    text-decoration: none;

    color: inherit;
}

ul,
ol {
    list-style: none;
}

.wrapper {
    width: 100vw;

    display: flex;
}

/* Aside */
aside {
    height: 100vh;
    width: 28vw;

    background-color: var(--bg-secondary);

    padding: 2.4rem 3.2rem 3.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    left: 0;
    top: 0;

    transform: translateX(-100%);
    opacity: 0;

    transition: transform .3s ease, opacity .2s ease;

    nav {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        color: var(--text-brand);

        a {
            padding: .8rem 0 .8rem 1.6rem;
            border-radius: .8rem;

            transition: ease .6s;
        }

        a:hover {
            color: var(--text-dark);
            background-color: var(--text-brand);
            margin-left: -1.2rem;

            sup {
                color: var(--text-light);
            }
        }
    }

    nav a.active {
        color: var(--text-light);
        font-weight: 800;
    }

    nav a.active:hover {
        color: var(--text-dark);
    }

    p {
        color: var(--text-light);
        font-size: 1.35rem;
        opacity: 0.75;

        i {
            color: var(--text-brand);
        }
    }
}

i#asideToggle {
    color: var(--text-brand);

    font-size: 2rem;

    position: fixed;
    left: 1.6rem;
    top: 1.2rem;
    z-index: 1;

    cursor: pointer;

    transition: ease .3s;
}

i#asideToggle.fa-bars:hover {
    transform: rotate(180deg);
    color: var(--text-title);
}

i#asideToggle.fa-xmark:hover {
    transform: rotate(180deg);
    color: var(--toggle-open);
}

aside.open {
    transform: translateX(0);
    opacity: 1;
}

body.aside-open main {
    margin-left: 28vw;
    padding-inline: 2.4vw;
}

/* Main */
main {
    width: 100%;

    margin-top: 3.2rem;
    padding-inline: 4vw;

    transition: margin-left .3s ease;
}

main header {
    text-align: center;
    margin-bottom: 4.8rem;

     h1 a {
        font-family: var(--font-family-brand);
        font-size: clamp(1.6rem, 3vw, 4rem);
        font-weight: 700;
        color: var(--text-dark);
    }

    h2 {
        margin-block: .8rem 4.8rem;
        font-family: var(--font-family-brand);
        font-size: 2.4rem;
        font-weight: 400;
        color: var(--text-dark);
    }

    form input {
        width: min(80%, 60rem);

        padding: .8rem 0 .8rem 1.2rem;
        background-color: var(--bg-secondary);

        border-radius: .8rem;
        border: none;
        outline: none;
        box-shadow: 0 2px 6px rgba(100, 100, 255, 0.08);

        color: var(--text-light);
        font-size: 1.6rem;
        font-family: var(--font-family-body);
        font-weight: 500;
        letter-spacing: 0.03rem;

        transition:
            background-color .4s ease color .4s ease box-shadow .25s ease;
    }

    form input:focus {
        box-shadow: 0 3px 10px rgba(100, 100, 255, 0.15);
    }

    input[type="text"]:not(:placeholder-shown) {
        color: var(--text-brand);
        background-color: var(--text-dark);
    }
}

main article {
    display: flex;
    justify-content: space-between;
    gap: 4%;

    section {
        width: 100%;
        background: var(--bg-card);
        box-shadow: 2px 2px 10px var(--bg-secondary);

        padding: 1.6rem 0.8rem;
        border-radius: .8rem;

        color: var(--text-dark);

        transition: ease .4s;

        h3 {
            font-size: clamp(2rem, 3vw, 2.5rem);
            font-weight: 600;
            color: var(--text-title);
        }
    }

    section:hover {
        background-color: var(--bg-secondary);
        box-shadow: 2px 2px 10px var(--text-title);

        color: var(--text-light);

        h3 {
            color: var(--text-brand);
        }

    }

    ol li {
        width: fit-content;
        margin-top: .8rem;

        display: flex;
        align-items: center;
        gap: .8rem;
    }

    ol li:hover {
        color: var(--text-title);
        background: -webkit-linear-gradient(60deg, var(--text-title) 25%, var(--text-brand));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}